<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header/>
  <%- include partials/_header %>
  </header>
  <ul>
  <% Object.keys(urls).forEach(url => { %>

    <li> <%= url %> : <%= urls[url] %>
    <form method="POST" action="/urls/<%=url%>/delete">
      <input type="submit" value="Delete">
       <a href='/urls/<%=url%>'>EDIT</a>
     </form>
    </li>
  <% }) %>
  </ul>
  <p><a href='/urls/new'>ADD</a></p>
</body>
</html>