<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header/>
  <%- include partials/_header %>
  </header>
  <ul>

  <% Object.keys(urls).forEach(url => { %>

    <li  style="display: flex; flex-direction: row; justify-content: flex-start; align-items: baseline;"> <%= url %> ----> <%= urls[url] %>

      <form action="/urls/<%= url %>">
        <input style="margin-left: 30px" type="submit" value="edit" />
      </form>

      <form method="POST" action="/urls/<%=url%>/delete?_method=DELETE">
        <input type="submit" value="Delete"></input>
     </form>
    </li>

  <% }) %>
  </ul>
  <p><a href='/urls/new'>New Short Link</a></p>

</body>
</html>