<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header/>
  <%- include partials/_header %>
  </header>
  <ul>

  <% Object.keys(urls).forEach(url => { %>

    <li  style="display: flex; flex-direction: row; justify-content: flex-start; align-items: baseline;"> <%= url %> ----> <%= urls[url] %>
     <button  style="margin-left: 30px" href='/urls/<%=url%>'>edit</button>
      <form method="POST" action="/urls/<%=url%>/delete">
      <button type="submit" value="Delete">Delete</button>
     </form>
    </li>

  <% }) %>
  </ul>
  <p><a href='/urls/new'>Create a New Short Link</a></p>

</body>
</html>