<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include partials/_header %>

  <p> <%= shortURL%>

    <%if (!error) { %>
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline; width:45%">
    <form action="/urls/<%=shortURL%>" method="POST" >
      <input id="longURL" type="text" name="newLongURL" placeholder="<%=urls[shortURL]%>">
      <input type="submit" value="Update">
    </form>
  </div>
    <% } %>

    <%if (error) { %> <p><%= error %> </p> <% } %>

</body>
</html>